.fifth{
    padding-top: 163px;
}
.fifth__title{
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: "chocolate";
}
.offer{
    color: #E2B024;
}
.fifth__img{
    margin-top: 137px;
}
.fifth__ellipse{
    display: flex;
    justify-content: center;
    margin-top: 88px;
}
.ellipse4{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: white;
    margin-right: 10px;
}
.img2 {
    width: 370px;
    height: 558px;
    margin-bottom: 88px;
}
.img5{
    margin-bottom: 88px;
}
.fifth__text{
    font-size: 24px;
    font-family: "chocolate";
    color: white;
}
.featured__events{
    font-size: 48px;
    color: white;
    margin-top: 155px;
    text-align: center;
    font-family: "chocolate";
}
.events{
    color: #E2B024;
}
.fifth__boxlast{
    width: 100%;
}
.last__img{
    margin-top: 58px;
    overflow: hidden;
    transition: 2s;
}
.last__img:hover{
    transform: scale(1.1);
}

.fifth__10th{
    font-size: 24px;
}
.right__fifth{
    color: white;
    font-family: "Poppins";
    background: #18191A;
    margin-top: 58px;
    padding: 63px 258px 89px 30px;
}
.date{
    font-size: 18px;
    margin-top: 8px;
}
.fifth___test{
    font-size: 18px;
    font-weight: 300;
    margin-top: 44px;
}
.read__more{
    color: #E2B024;
    margin-top: 45px;
    font-size: 18px;
    font-family: "chocolate";
}
.fifth__line{
    width: 100px;
    border: 1px solid #E2B024;
}
.fifth__boxlast{
    margin-bottom: 150px;
}
.fifth__img{
    margin-right: 30px;
}
.featured{
    position: relative;
}
.fifth__left,
.fifth__right{
    position: absolute;
}
.fifth__left{
    border: 1px solid  #E2B024;
    border-radius: 64px;
    background: transparent;
    padding: 20px 25px 20px 27px;
}
.fifth__right{
    border: 1px solid  #E2B024;
    border-radius: 64px;
    background: transparent;
    padding: 20px 25px 20px 27px;
}
.fifth__left{
    top: 301px;
    left: -85px;
}
.fifth__right{
    top: 301px;
    left: 1177px;
}
.last__photo{
    overflow: hidden;
}